.card {
  width: 130px;
  padding: 12px;
  background: #f44336; /* vermelho Pokédex */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  margin-bottom: 8px;
  filter: drop-shadow(1px 1px 1px #000);
}

.card h3 {
  margin: 0 0 5px;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.card p {
  margin: 0;
  font-size: 0.85rem;
}
